*{box-sizing: border-box;
    padding: 0;
    margin: 0;


}
.container{
    display: flex;
    flex-direction: row;

}
.left{
    width: 9%;
    height: 100vh;
   
    /* background-color: bisque; */

}
.middle{
    width: 65%;
    /* background-color: aquamarine; */
    padding: 3rem;
    background-color:#f3f0f0;

}
.right{
    /* background-color: antiquewhite; */
 
    width: 25%; 
   /* margin: auto; */
}
.left h1{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3.5rem;
    /* margin-top: 1rem; */
    text-align: center;
    color: #4CA6A7;
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}
.fa-yy{
  
    width: 100%;
    text-align: center;
    margin: 2.5rem auto 2.5rem auto;
    color: rgb(176, 168, 168);
}
.options{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.6rem;
}
.colors{
    color: #4CA6A7;
   cursor: pointer;
}
.options i{
    cursor: pointer;
}
.round{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    
    margin: auto;
}
.yy{
    margin-right: 0.6rem;
    height: 2rem !important; 
    width: 2rem !important;
    color: #4CA6A7;
}
.fa-user{
    margin-right: 0.6rem;
    color: #4CA6A7;
}
.fa-circle{
    margin-right: 0.6rem;
    color: #4CA6A7;
}
.box{
    width: 24%;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 1rem;
    
}

.boxes{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle .yyy{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.middle h2{
    font-size:2rem; 
    font-weight: bold;
}

.box1{
    width: 30% ;
    padding:1.4rem 2rem 1.4rem 2rem ;
    color: white ;
    cursor: pointer;
    background-color: #4CA6A7 ;
    margin-bottom: 1rem ;
    border-radius: 20px ;
}
.boxes1{
    display: flex ;
    flex-wrap: wrap ;
    margin-top: 2rem ;
    justify-content: space-around ;
}
a{
  text-decoration: none;
  color: white;
}
.headd{
    margin-bottom: 0.6rem;
}
.yyyy{
  
  
        width: 100%;
        text-align: center;
        margin: 1.5rem auto 1.5rem auto;
       
  
}
.right h2{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}
.chotu{
   
    display: flex;
    flex-direction: column;
    border: 1px solid #4CA6A7;
    border-radius: 20px;
    padding: 0.6rem;
    width: 90%;
    
    margin: auto;
    margin-top: 1.5rem;
    
}
.chotu span{
    margin: 0.3rem;
}
.u{
    color: #4CA6A7;
    margin-right: 0.5rem;
}

.TODO{
    border: 1px solid #4CA6A7;
    border-radius: 20px;
    width: 100%;
    padding: 1rem;
    /* margin: 1rem; */
    color: #4CA6A7;
    margin-top: 1rem;
}
.done{
    border: none;
    color: white;
    background-color: #4CA6A7;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.6rem;
}
ul {
    margin-bottom: 1rem;
}
.assign{
    border: 1px solid #4CA6A7;
    border-radius: 20px;
    width: 100%;
    padding: 1rem;
    /* margin: 1rem; */
    color: #4CA6A7;
    margin-top: 1rem;
}
.assign-btn{
  background-color: #4CA6A7;
  color: white;
  margin: 0;
  padding: 0%;
  cursor: pointer;
  width: 155px;
  height: 2.5rem;
    width: 12rem;
    border-radius: 50px;
    border-color: transparent;

}
input{
    width: 100%;
    height: 40px;
    border:1px solid #4CA6A7;
    padding: 1rem;
}
#cars{
  height : 20px;
  width: 50px;

}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  

  
  :root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: #4CA6A7;
    --c2: rgba(168, 239, 255, 0.1);
  }
  
  .wrapper {
    min-width: min(40rem, 100%);
  }
  
  .chotu {
    border: 1 px solid black;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
  }
  

  .chotu:nth-child(2) {
    
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
  }
  
  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }
  
  @keyframes borderRadial {
    20% {
      --gradX: 100%;
      --gradY: 50%;
    }
    40% {
      --gradX: 100%;
      --gradY: 100%;
    }
    60% {
      --gradX: 50%;
      --gradY: 100%;
    }
    80% {
      --gradX: 0%;
      --gradY: 50%;
    }
    100% {
      --gradX: 50%;
      --gradY: 0%;
    }
  }

  .boxes1:hover .box1:not(:hover) {
    opacity: 0.8;
  }

 

  .boxes1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 5px;
    /* border: 1px solid blue; */
  }
  .box1 {
   
    box-shadow: 5px 5px 20px -5px #333 !important;
    transition: 0.5s;
    cursor: pointer;
  }
  .b{
    cursor: pointer;
    cursor: pointer;
    margin-left: 9rem;
    margin-top: 1.5rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: 50px;
    border-color: transparent;
    font-size: large;
}
  .b{
    align-self: center;
  }
  
  /*Creo l'animazione*/
  @keyframes gradient {
      0%{background-position:93% 0%}
      50%{background-position:0% 100%}
      100%{background-position:93% 0%}
  }
  /*setto l'hover con il gradient del background metallico*/
  .b:hover{
    background: linear-gradient(45deg, rgba(230,230,230,1) 6%, rgba(254,254,254,1) 36%, rgba(255,255,255,1) 38%, rgba(246,246,246,1) 47%, rgba(246,246,246,1) 64%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=1 );
    background-size: 600% 600%;
    animation: gradient 3s ease infinite;
  }
  
  .button-border{
    border-bottom: 1px solid white;
  }