body {
    margin: 0;
}

.category-name {
    font-family: sans-serif;
    width: -webkit-fill-available;
    text-align: center;
    font-size: 40px;
    margin-top: 1rem;
}

.chotu {

    display: flex;
    flex-direction: column;
    align-items: flex-start;



}

.chotu span {
    margin: 0.3rem;
    font-size: 1.2rem;
}

.u {
    color: #178083;
    margin-right: 0.5rem;
}

.papa {
    display: flex;
}
.papa a{
    height: 2rem;
    width: 2rem;
    margin: auto;
    background-color: #178083;
    color: white;
    
    text-decoration: none;
    border-radius: 50%;
}
.papa a i{
    margin-top: 0.5rem;
}
.modal-body ul li{
    list-style: none;
}
.all-pr-cards li{
    margin: 1rem;
}
.all-pr-cards{
    width: 90%;
    margin: auto;
}


.card-category-2 ul li,
.card-category-3 ul li,
.card-category-4 ul li,
.card-category-5 ul li,
.card-category-6 ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.card-category-2 ul li,
.card-category-3 ul li {
    margin: 10px 5px;
}

.card-category-6 {
    font-family: sans-serif;
    margin-bottom: 45px;
    text-align: center;
}

.card-category-5 .per-card-1 .card-image {
    padding: 20px;
}

.card-category-5 .per-card-1 .card-image img {
    height: 200px !important;
}

.card-category-5 .per-card-1 .card-content .card-title {
    font-size: 20px;
    padding-bottom: 6px;
}

.card-category-5 .per-card-1 .card-content .per-position {
    color: #002255;
    padding-bottom: 10px;
}

.card-category-5 .per-card-1 .card-content .social-icons i {
    font-size: 30px;
    padding: 5px;

    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


.card-category-5 .per-card-1 .card-content .card-btn button {
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    background: black;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;

    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.card-category-5 .per-card-1 .card-content .card-btn button:hover {
    background: #383838;
}


.card-category-5 .per-card-2 {
    width: 300px;
    padding: 30px 0 0 0;
    margin: 0 40px;
    /*You may have remove this CSS. I used this CSS for apply some margin from the card before*/

    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-category-5 .per-card-2 .card-image {
    padding: 10px 15px;
    background-image: linear-gradient(#3F51B5, #673AB7);
    width: 319px;
    position: relative;
    right: 25px;
}

.card-category-5 .per-card-2 .card-image::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 12px solid #430ca5;
    top: -24px;
    left: 0px;
    border-left-color: transparent;
    border-top-color: transparent;
}


.card-category-5 .per-card-2 .card-image img {
    border-radius: 40px;
    height: 80px;
}

.card-category-5 .per-card-2 .card-image ul {
    padding: 0;
}

.card-category-5 .per-card-2 .card-image .per-name {
    font-size: 23px;
    color: #fff;
    margin: 5px 0px 0px 10px;
}

.card-category-5 .per-card-2 .card-image .per-position {
    font-size: 18px;
    color: #fff;
    margin: 15px 0px 0px 15px;
}

.card-category-5 .per-card-2 .card-image .card-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 80px;
    right: 40px;
    border: 4px solid #fff;
    border-radius: 30px;
    background: #653cb7;
    cursor: pointer;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card-category-5 .per-card-2 .card-image .card-btn:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card-category-5 .per-card-2 .card-image .card-btn span,
.card-category-5 .per-card-2 .card-image .card-btn span::after {
    content: '';
    width: 23px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 18px;
    left: 8px;
}

.card-category-5 .per-card-2 .card-image .card-btn span::after {
    left: 0;
    top: 0;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card-category-5 .per-card-2 .card-content {
    padding: 40px 30px 20px;
    text-align: justify;
}

.card-category-5 .per-card-2 .card-content .card-text {
    line-height: 1.5;
    color: #585858;
    font-size: 15px;
}

.card-category-5 .per-card-2 .card-content .social-icons {
    text-align: center;
    padding-top: 20px;
}

.card-category-5 .per-card-2 .card-content .social-icons i {
    padding: 10px;
    font-size: 30px;
    color: #430ca5;
    cursor: pointer
}

.card-category-5 .per-card-2 .card-content .social-icons i :hover {
    color: black;
}

.card-category-5 .per-card-3 {
    width: 400px;
    height: 240px;

    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-category-5 .per-card-3:hover .card-content .social-icons {
    opacity: 1;
    height: 100%;
}

.card-category-5 .per-card-3:hover .social-icons .card-btn {
    bottom: 0px !important;

    -webkit-animation: down-btn 1.5s;
    -moz-animation: down-btn 1.5s;
    -o-animation: down-btn 1.5s;
    animation: down-btn 1.5s;
}

.card-category-5 .per-card-3 .card-image {
    position: relative;
    background: #178083;
    padding-left: 6px;
    text-align: left;
}

.card-category-5 .per-card-3 .card-image img {

    height: 78px !important;
    border-radius: 50px;
    padding: 5px;
    margin-right: 20px;
    width: 80px;
    margin-left: 0;

}

.card-category-5 .per-card-3 .card-image .per-name {
    position: absolute;
    top: 40%;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
    color: #fff;
}

.card-category-5 .per-card-3 .card-content {
    text-align: center;
    padding: 20px;
    position: relative;
}

.card-category-5 .per-card-3 .card-content .per-position {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4CA6A7;
}

.card-category-5 .per-card-3 .card-content .card-text {
    padding: 10px;
}

.card-category-5 .per-card-3 .card-content .card-text span {
    font-size: 1rem;
    color: #178083;

}

.card-category-5 .per-card-3 .card-content .social-icons {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    opacity: 0;
    height: 0%;
    background: #178083;
    border-top: 1px solid #178083;
    cursor: pointer;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.card-category-5 .per-card-3 .card-content .social-icons i {
    margin: 15px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card-category-5 .per-card-3 .card-content .social-icons i:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.card-category-5 .per-card-3 .card-content .social-icons .card-btn {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.card-category-5 .per-card-3 .card-content .social-icons .card-btn button {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background: #03695f;
    border: none;
}


.view a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    
    

}
.view a:hover{
    color: white;
    font-size: 1.5rem;
 
    
   
}


@media only screen and (max-width: 480px) {
    .io-card-1 .card-content .card-text {
        display: none;
    }

    .io-card-1 .card-link {
        top: 85px;
    }

    .card-category-4 .sp-card-1 {
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 0 0px 30px 0;
        margin: 30px 0;
    }

    .card-category-4 .sp-card-1 .shop-button {
        padding: 0;
    }

    .card-category-4 .sp-card-1 ul li:nth-child(1) {
        padding: 20px;
        float: none;
    }

    .card-category-4 .sp-card-1 ul li:nth-child(2) {
        text-align: center;
        padding: 0 0 30px 0;
        float: none;
    }

    .card-category-4 .sp-card-2 {
        width: 300px;
    }

    .card-category-4 .sp-card-3 {
        width: 100%;
        height: auto;
    }

    .card-category-4 .sp-card-3 .card-title {
        text-align: center;
        width: 100%;
        float: none;
    }

    .card-category-4 .sp-card-3 .product-details .product-img {
        width: 100%;
        float: none;
        padding-top: 10px;
        display: block;
    }

    .card-category-4 .sp-card-3 .product-details .product-img img {
        height: auto;
        width: 90%;
    }

    .card-category-4 .sp-card-3 .product-details .product-description {
        width: 100%;
        padding: 20px 0px;
    }

    .card-category-4 .sp-card-3 .product-details .product-description ul {
        text-align: center;
    }

    .card-category-4 .sp-card-3 .product-details .product-description ul li {
        font-size: 25px;
    }

    .card-category-4 .sp-card-3 .product-details .product-description ul li:last-child {
        text-decoration: underline;
        padding-top: 20px;
    }

    .card-category-4 .sp-card-3 .footer-card p {
        font-size: 20px;
    }

    .card-category-4 .sp-card-3 .footer-card li:nth-child(1) {
        padding-top: 5px;
    }

    .card-category-4 .sp-card-3 .footer-card li:nth-child(2) {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    .card-category-4 ul li:nth-child(3) {
        margin-top: 25px;
        padding: 0 15px;
    }

    .card-category-5 .per-card-2 {
        margin: 20px 40px;
    }

    .card-category-5 .per-card-3 {
        width: 350px;
    }

    .card-category-5 .per-card-3 .card-image .per-name {
        letter-spacing: 4px;
    }
}

@media only screen and (max-width: 360px) {
    .ioverlay-card .card-content {
        top: 10px;
    }

    .io-card-1 .card-link {
        top: 70px;
    }

    .card-category-5 .per-card-2 {
        width: 275px;
    }

    .card-category-5 .per-card-2 .card-image {
        width: 295px;
    }

    .card-category-5 .per-card-3 {
        width: 320px;
        height: 254px;
    }
}