<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/memberDetails.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/iconn.ico" />
    <title>Society Dashboard - Member details</title>
</head>
<body>
    <div class="containerr">
        <h1>Member Details</h1>
        <div class="main">
            <div class='bold-line'></div>
            <div class='container'>
                <div class='window'>
                    <div class='overlay'></div>
                    <div class='content'>
                        <div class='welcome'>Team Technical</div>
                        <div class='subtitle'>View Details of team technical here...</div>
                        
                        <div><a href="member_details/" target="_blank"><button class='ghost-round full-width' >View Details</button></a></div>
                    </div>
                </div>
                <div class='window'>
                    <div class='overlay'></div>
                    <div class='content'>
                        <div class='welcome'>Team Technology</div>
                        <div class='subtitle'>View Details of team technical here...</div>
                        
                        <div><a href="" target="_blank"><button class='ghost-round full-width' >View Details</button></a></div>
                    </div>
                </div>
                <div class='window'>
                    <div class='overlay'></div>
                    <div class='content'>
                        <div class='welcome'>Team Promotions</div>
                        <div class='subtitle'>View Details of team technical here...</div>
                        
                        <div><a href="details.html" target="_blank"><button class='ghost-round full-width' >View Details</button></a></div>
                    </div>
                </div>
                <div class='window'>
                    <div class='overlay'></div>
                    <div class='content'>
                        <div class='welcome'>Team Publications</div>
                        <div class='subtitle'>View Details of team technical here...</div>
                        
                        <div><a href="details.html" target="_blank"><button class='ghost-round full-width' >View Details</button></a></div>
                    </div>
                </div>
                <div class='window'>
                    <div class='overlay'></div>
                    <div class='content'>
                        <div class='welcome'>Team Event Management</div>
                        <div class='subtitle'>View Details of team technical here...</div>
                        
                        <div><a href="details.html" target="_blank"><button class='ghost-round full-width' >View Details</button></a></div>
                    </div>
                </div>
                <div class='window'>
                    <div class='overlay'></div>
                    <div class='content'>
                        <div class='welcome'>Team Creativity</div>
                        <div class='subtitle'>View Details of team technical here...</div>
                        
                        <div><a href="details.html" target="_blank"><button class='ghost-round full-width' >View Details</button></a></div>
                    </div>
                </div>
                
            </div>
        </div>


    </div>
    
</body>
</html>